body{
  font-family: "Open Sans", sans-serif;
  background-color: #0A1931;
}

.title{
  color: #FFC947;
  text-align: center;
  margin-top: 100px;
  font-size: 2.5em;
  text-transform: uppercase;
}

.imc_menu{
  color: #FFC947;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imc_menu label{
  display: none;
}
.imc_menu input{
  background-color: #102446;
  border-radius: 5px;
  display: block;
  padding: 15px 10px;
  color: #FFC947;
  font-size: 1.5em;
  margin: 20px 20px;
  border: 3px solid #122544;
}
.imc_menu input::placeholder{
  color: #FFC947;
}

#btn{
  padding: 15px 20px;
  background-color: #FFC947;
  border-radius: 5px;
  border: transparent;
  margin-top: 50px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background ease .5s;
}
#btn:hover{
  background-color: #c3a356;
}

#output{
  color: #FFC947;
  text-align: center;
  margin-top: 60px;
  font-size: 2.3em;
  text-transform: uppercase;
}