body{
  font-family: "Open Sans", sans-serif;
  background-color: #0A1931;
}

html{
  scroll-behavior: smooth;
}

.main-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-bike{
  width: 35vh;
  height: 35vh;
  margin-top: 50px;
}

h1{
  color: #FFC947;
  text-align: center;
  margin-top: 50px;
  font-size: 2em;
  text-transform: uppercase;
}

.titleLight{
  color: #102446;
}

.imc_menu{
  color: #FFC947;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imc_menu label{
  display: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{   
  -webkit-appearance: none;  
  margin: 0; 
}

.imc_menu input{
  background-color: #102446;
  border-radius: 5px;
  display: block;
  padding: 15px 10px;
  color: #FFC947;
  font-size: 1.5em;
  margin: 20px 20px;
  border: 3px solid #122544;
}


.imc_menu input:hover{
  background-color: #182f53;
  transition: background ease .8s;
}

.imc_menu input::placeholder{
  color: #FFC947;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn{
  padding: 15px 20px;
  background-color: #FFC947;
  border-radius: 5px;
  border: transparent;
  margin-top: 50px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background ease .5s;
}

.btn:hover{
  background-color: #c3a356;
}

.result{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#output{
  color: #ca9417;
  margin-top: 60px;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.image{
  margin-top: 80px;
  height: 33vh;
  width: auto;
}

nav{
  border-top: 2px solid #3e70d4;
  width: 100%;
  text-align: center;
}

.icons ul{
  font-size: 2em;
}

.icons a{
  color: #3e70d4;
  margin-right: 15px;
}

.icons:hover{
  color: #739ef3;
  transition: color ease .8s;

}


@media screen and (min-width: 1025px){
body{
  background-color: #749ef0;
}

.main-content{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;

}

.imc_menu{
  flex-basis: 45%;
  flex-shrink: 0;
  background-color: #0A1931;
  height: 100%;
}

.imc_menu_Light{
  background-color: rgb(206, 149, 50);
  flex-basis: 45%;
  flex-shrink: 0;
  height: 100%;
}

.title{
  color: #FFC947;
  font-size: 2.5em;
}

.imc_menu input{
  background-color: #102446;
  border: 2px solid #142444;
}

.btn{
  background-color: #FFC947;
  color: #142444;
}

.result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-basis: 55%

}

.image{
  height: 500px;
  width: auto;

}

#output{
  color: #142444;
}

.icons{
  border: transparent;
}

.icons ul{
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 2em;
}

.icons a{
  color: #142444;
}

.icons:hover{
  color: #3e70d4;
  transition: color ease .8s;

}
}

.lightDarkMode{
  background: none;
  border: none;
  cursor: pointer;
}
.lightDarkMode img{
  width: 1.5rem;
}
.themeOff{
  display: none;
}

.lightModeBtn{
  background-color: #142444;
  color: #FFC947;
}

.lightModeBtn:hover{
  background-color: #142450;
}